<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Media" version="1.0.0" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms.Maps" version="1.4.2.6355" targetFramework="MonoAndroid50" />
  <package id="XLabs.Core" version="2.0.5679" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="XLabs.Forms" version="2.0.5679" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="XLabs.IoC" version="2.0.5679" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="XLabs.Platform" version="2.0.5679" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="XLabs.Serialization" version="2.0.5679" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>